src/compose/volumes/node-red-1/node-red/.flows.json.backup
[{"id":"98ea1f43.2155a","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"414c7aba.18b754","type":"amqp-server","z":"","host":"${CORE_BROKER_HOST}","port":"5672","vhost":"","keepalive":"30","usetls":false,"verifyservercert":true,"useca":false,"ca":"","usetopology":true,"topology":"{\n\t\"exchanges\": [\n\t\t{\"name\": \"egress\",\"type\":\"topic\"}\n\t],\n\t\"queues\": [\n\t\t{\"name\": \"simple-skill-in\"}\n\t\t],\n\t\"bindings\": [\n\t\t{\"source\": \"egress\", \"queue\": \"simple-skill-in\",\"pattern\":\"ingress.i40:registry-semanticProtocol/offboarding.CentralAssetRepository.publishInstance\"}\n\t]\n}"},{"id":"161c7b25.d7b5d5","type":"amqp in","z":"98ea1f43.2155a","name":"From Message Broker","topic":"","iotype":"4","ioname":"simple-skill-in","server":"414c7aba.18b754","x":230,"y":360,"wires":[["4676eac4.dae1a4"]]},{"id":"a4cb54a.43d7ea8","type":"amqp out","z":"98ea1f43.2155a","name":"To Message Broker","routingkey":"egress.generic","iotype":"3","ioname":"egress","server":"414c7aba.18b754","x":750,"y":360,"wires":[]},{"id":"4676eac4.dae1a4","type":"function","z":"98ea1f43.2155a","name":"Echo","func":"var payload =  JSON.parse(msg.payload);\nvar receiver = payload.frame.receiver;\nvar sender = payload.frame.sender;\n\nconsole.log(\"Original  Sender: \"+JSON.stringify(sender));\nconsole.log(\"Original Receiver: \"+JSON.stringify(receiver));\n\npayload.frame.receiver = sender;\npayload.frame.sender = receiver;\n\nconsole.log(\"New  Sender: \"+JSON.stringify(payload.frame.sender));\nconsole.log(\"New Receiver: \"+JSON.stringify(payload.frame.receiver));\n\n\nreturn {payload:payload};","outputs":1,"noerr":0,"x":460,"y":300,"wires":[["a4cb54a.43d7ea8"]]}]