src/compose/volumes/node-red-1/node-red/.flows.json.backup
[{"id":"98ea1f43.2155a","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"49469a46.d7b474","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"414c7aba.18b754","type":"amqp-server","z":"","host":"${CORE_BROKER_HOST}","port":"5672","vhost":"","keepalive":"30","usetls":false,"verifyservercert":true,"useca":false,"ca":"","usetopology":true,"topology":"{\n\t\"exchanges\": [\n\t\t{\"name\": \"amq.topic\",\"type\":\"topic\"}\n\t],\n\t\"queues\": [\n\t\t{\"name\": \"test\"}\n\t\t],\n\t\"bindings\": [\n\t\t{\"source\": \"amq.topic\", \"queue\": \"test\",\"pattern\":\"i40:registry-semanticProtocol/offboarding.#\"}\n\t]\n}"},{"id":"161c7b25.d7b5d5","type":"amqp in","z":"98ea1f43.2155a","name":"From Message Broker","topic":"i40:registry-semanticProtocol/offboarding.*","iotype":"3","ioname":"${CORE_INGRESS_EXCHANGE}","server":"414c7aba.18b754","x":230,"y":360,"wires":[["4676eac4.dae1a4","8dbb09d8.401da8"]]},{"id":"a4cb54a.43d7ea8","type":"amqp out","z":"98ea1f43.2155a","name":"To Message Broker","routingkey":"${CORE_ENDPOINT_RESOLVER_QUEUE}","iotype":"3","ioname":"${CORE_EGRESS_EXCHANGE}","server":"414c7aba.18b754","x":750,"y":360,"wires":[]},{"id":"4676eac4.dae1a4","type":"function","z":"98ea1f43.2155a","name":"Echo","func":"console.log(\"Skill received message: \"+msg);\nreturn msg;\n","outputs":1,"noerr":0,"x":460,"y":300,"wires":[["a4cb54a.43d7ea8"]]},{"id":"8dbb09d8.401da8","type":"debug","z":"98ea1f43.2155a","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","x":530,"y":500,"wires":[]},{"id":"e6dbc639.2b36a8","type":"amqp in","z":"49469a46.d7b474","name":"","topic":"ingress.i40:registry-semanticProtocol/offboarding.*","iotype":"4","ioname":"test2","server":"414c7aba.18b754","x":180,"y":360,"wires":[["9dca0851.5098a8"]]},{"id":"5366a5fa.a3f63c","type":"amqp out","z":"49469a46.d7b474","name":"","routingkey":"${CORE_ENDPOINT_RESOLVER_QUEUE}","iotype":"3","ioname":"amq.topic","server":"414c7aba.18b754","x":720,"y":360,"wires":[]},{"id":"9dca0851.5098a8","type":"i40-aas-onboarding","z":"49469a46.d7b474","conversationID":"0815","senderID":"mysender","receiverID":"myreceiver","submodelID":"mySubmodelID","manufacturer":"","manufactureruri":"","model":"","serialnumber":"","hardwarerevision":"","deviceclass":"","devicemanual":"","productinstanceuri":"myProduct","productcode":"","devicerevision":"","revisioncounter":"","softwarerevision":"","x":440,"y":360,"wires":[["5366a5fa.a3f63c"]]},{"id":"b3a322fa.6c2d2","type":"inject","z":"49469a46.d7b474","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":220,"y":460,"wires":[["9dca0851.5098a8"]]},{"id":"3450ec35.3f5214","type":"comment","z":"49469a46.d7b474","name":"Manuall Trigger press to triger.","info":"Manuall Trigger press to triger.","x":260,"y":520,"wires":[]},{"id":"5c43e7b8.049128","type":"comment","z":"49469a46.d7b474","name":"when you add a debug node the process is broken. It looks like a bug within amqp-node itself.","info":"when you add a debug node the process is broken. It looks like a bug within amqp-node itself. ","x":460,"y":300,"wires":[]}]