src/ts/cmd/i40-aas-node-red-simple-skill/node-red/flows.json
[
  {
    "id": "98ea1f43.2155a",
    "type": "tab",
    "label": "Flow 1",
    "disabled": false,
    "info": ""
  },
  {
    "id": "161c7b25.d7b5d5",
    "type": "amqp in",
    "z": "98ea1f43.2155a",
    "name": "",
    "topic": "",
    "iotype": "4",
    "ioname": "test",
    "server": "414c7aba.18b754",
    "x": 180,
    "y": 360,
    "wires": [["afb97b29.7c1688"]]
  },
  {
    "id": "a4cb54a.43d7ea8",
    "type": "amqp out",
    "z": "98ea1f43.2155a",
    "name": "",
    "routingkey": "http.client",
    "iotype": "3",
    "ioname": "amq.topic",
    "server": "414c7aba.18b754",
    "x": 720,
    "y": 360,
    "wires": []
  },
  {
    "id": "afb97b29.7c1688",
    "type": "i40-aas-onboarding",
    "z": "98ea1f43.2155a",
    "conversationID": "0815",
    "senderID": "mysender",
    "receiverID": "myreceiver",
    "submodelID": "mySubmodelID",
    "manufacturer": "",
    "manufactureruri": "",
    "model": "",
    "serialnumber": "",
    "hardwarerevision": "",
    "deviceclass": "",
    "devicemanual": "",
    "productinstanceuri": "myProduct",
    "productcode": "",
    "devicerevision": "",
    "revisioncounter": "",
    "softwarerevision": "",
    "x": 440,
    "y": 360,
    "wires": [["a4cb54a.43d7ea8"]]
  },
  {
    "id": "9adea4bd.882f88",
    "type": "inject",
    "z": "98ea1f43.2155a",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "x": 220,
    "y": 460,
    "wires": [["afb97b29.7c1688"]]
  },
  {
    "id": "c31cc2be.a7ee3",
    "type": "comment",
    "z": "98ea1f43.2155a",
    "name": "Manuall Trigger press to triger.",
    "info": "Manuall Trigger press to triger.",
    "x": 260,
    "y": 520,
    "wires": []
  },
  {
    "id": "79297bca.482294",
    "type": "comment",
    "z": "98ea1f43.2155a",
    "name": "when you add a debug node the process is broken. It looks like a bug within amqp-node itself.",
    "info": "when you add a debug node the process is broken. It looks like a bug within amqp-node itself. ",
    "x": 460,
    "y": 300,
    "wires": []
  },
  {
    "id": "414c7aba.18b754",
    "type": "amqp-server",
    "z": "",
    "host": "docker.for.mac.localhost",
    "port": "5672",
    "vhost": "",
    "keepalive": "30",
    "usetls": false,
    "verifyservercert": true,
    "useca": false,
    "ca": "",
    "usetopology": true,
    "topology": "{\n\t\"exchanges\": [\n\t\t{\"name\": \"amq.topic\",\"type\":\"topic\"}\n\t],\n\t\"queues\": [\n\t\t{\"name\": \"test\"}\n\t\t],\n\t\"bindings\": [\n\t\t{\"source\": \"amq.topic\", \"queue\": \"test\",\"pattern\":\"i40:registry-semanticProtocol/offboarding.#\"}\n\t]\n}"
  }
]
